@using TM.Domain.ViewModels

@model RoleIndexView

@{
    ViewBag.Title = "角色維護管理";
}



<div class="row">
    <h2>
        @ViewBag.Title
    </h2>
</div>

<div class="row">
    @using (Html.BeginForm("CreatePost", "Role", FormMethod.Post))
    {
        <table class="table tree">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Roles.FirstOrDefault().RoleId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Roles.FirstOrDefault().RoleEngName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Roles.FirstOrDefault().RoleName)
                </th>
                <th>
                </th>
            </tr>
            <tr>
                <th>
                    
                </th>
                <th>
                    @Html.EditorFor(model => model.AddRole.RoleEngName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AddRole.RoleEngName, "", new { @class = "text-danger" })
                </th>
                <th>
                    @Html.EditorFor(model => model.AddRole.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AddRole.RoleName, "", new { @class = "text-danger" })
                </th>
                <th> 
                    @if (Auth.IsShow("Role/Create"))
                    {
                        <button type="submit" class="btn btn-primary btn-xs">新增</button>
                    }
                </th>
            </tr>

            @foreach (var item in Model.Roles)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(x => item.RoleId)
                    </th>
                    <th>
                        @Html.DisplayFor(x => item.RoleEngName)
                    </th>
                    <th>
                        @Html.DisplayFor(x => item.RoleName)
                    </th>
                    <th>
                        @if(Auth.IsShow("Role/Edit"))
                        { 
                            <button type="button" class="EditBtn btn btn-warning btn-xs" data-id="@item.RoleId">修改</button>
                        }
                        @if(Auth.IsShow("Role/Delete"))
                        { 
                            <button type="button" class="DeleteBtn btn btn-danger btn-xs" data-id="@item.RoleId">刪除</button>
                        }
                        @if(Auth.IsShow("Role/EditCatalog"))
                        { 
                            <button type="button" class="EditCatalogBtn btn btn-info btn-xs" data-id="@item.RoleId">角色目錄權限</button>
                        }
                    </th>
                </tr>
            }

        </table>
    }
</div>

<div id='MainModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='ShowModalContent'></div>
        </div>
    </div>
</div>

<div id='MainModal1' class='modal'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='ShowModalContent1'></div>
        </div>
    </div>
</div>

@section scripts{
<script src="~/ThirdParties/maxazan-jquery-treegrid/js/jquery.treegrid.js"></script>
<script src="~/ThirdParties/maxazan-jquery-treegrid/js/jquery.treegrid.bootstrap3.js"></script>
    <script>
        $(document).ready(function () {
            //編輯
            $(".EditBtn").click(function(){
                var editUrl = '@Url.Action("Edit","Role")';
                var options = {
                    "backdrop": "static",
                    keyboard: true
                };
                var id = $(this).data("id");

                $.ajax({
                    type: "GET",
                    url: editUrl,
                    contentType: "application/json; charset=utf-8",
                    data: { "id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#ShowModalContent').html(data);
                        $('#MainModal').modal(options);
                        $('#MainModal').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });

            //刪除
            $(".DeleteBtn").click(function () {
                event.preventDefault();
                var deleteUrl = '@Url.Action("Delete","Role")';
                var id = $(this).data("id");

                $.confirm({
                    title: '注意',
                    content: '確定刪除該筆資料?',
                    buttons: {
                        confirm: function () {
                            location.href = deleteUrl + "?id=" + id;
                        },
                        cancel: function () {
                        },
                    }
                });
            });

            //修改目錄權限
            $(".EditCatalogBtn").click(function () {
                var editCatalogUrl = '@Url.Action("EditCatalog", "Role")';
                var id = $(this).data("id");

                location.href = editCatalogUrl + "?id=" + id;
            });

        });
    </script>
}

