@using TM.Domain.Models
@model IEnumerable<Catalog>

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="@Url.Action("Index", "Account")" class="navbar-brand">工作管理系統(TM)</a>
    </div>
    
    @Html.Action("ProfileMenu", "Home")

    @*左側選單*@
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                @foreach (var item in Model.Where(c => c.ParentCatalogId == null && c.IsMenu == true).ToList())
                {
                    @PrintMenu(item)
                }
            </ul>
        </div>
    </div>
</nav>


@helper PrintMenu(Catalog data)
{
    var subCatalogs = data.SubCatalogs.Where(o => o.IsMenu == true).ToList();

    <li>
        <a href="@Url.Action("Index", @data.Permission.Split(',')[0])">
            <i class="@data.IconClass"></i>
            @data.CatalogName

            @if (subCatalogs.Count() > 0)
            {
                <span class="fa arrow"></span> 
            }
        </a>

        @if (subCatalogs.Count() > 0)
        {
            <ul class="nav nav-second-level">
                @foreach (Catalog catalog in subCatalogs)
                {
                    @PrintMenu(catalog)
                }
            </ul>
        }
    </li>
}
