@using TM.Domain.Models
@model Catalog

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">修改目錄</h4>
</div>
    @using (Html.BeginForm("EditPost","Catalog",FormMethod.Post,new { @class = "form-horizontal" , role = "form" })) {

    <div class="modal-body">
        <div class="form-group">
            @Html.LabelFor(model => model.CatalogId, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.CatalogId, new { htmlAttributes = new { @class = "form-control",@readonly = true } })
                @Html.ValidationMessageFor(model => model.CatalogId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CatalogName, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.CatalogName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CatalogName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CatalogOrder, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.CatalogOrder, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CatalogOrder, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsMenu, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.IsMenu)
                @Html.ValidationMessageFor(model => model.IsMenu, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ParentCatalogId, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.ParentCatalogId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ParentCatalogId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Permission, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.Permission, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Permission, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IconClass, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.IconClass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IconClass, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">離開</button>
        <button type="submit" class="btn btn-primary">儲存</button>
    </div>
    }



