@using TM.Domain.Models
@using TM.Domain.ViewModels

@model CatalogIndexView

@{
    ViewBag.Title = "目錄維護管理";
}
<link href="~/ThirdParties/maxazan-jquery-treegrid/css/jquery.treegrid.css" rel="stylesheet" />

<div class="row">
    <h2>
        @ViewBag.Title
    </h2>
</div>

<div class="row">
    @using (Html.BeginForm("CreatePost", "Catalog", FormMethod.Post))
    {
        <table class="table tree">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Catalogs.FirstOrDefault().CatalogId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Catalogs.FirstOrDefault().CatalogName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Catalogs.FirstOrDefault().CatalogOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Catalogs.FirstOrDefault().IsMenu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Catalogs.FirstOrDefault().ParentCatalogId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Catalogs.FirstOrDefault().Permission)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Catalogs.FirstOrDefault().IconClass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Catalogs.FirstOrDefault().Comment)
                </th>
                <th>
                </th>
            </tr>
            <tr>
                <th>
                </th>
                <th>
                    @Html.EditorFor(model => model.AddCatalog.CatalogName, new { htmlAttributes = new { @class = "form-control" } })
                </th>
                <th>
                    @Html.EditorFor(model => model.AddCatalog.CatalogOrder, new { htmlAttributes = new { @class = "form-control" } })
                </th>
                <th>
                    @Html.EditorFor(model => model.AddCatalog.IsMenu)
                </th>
                <th>
                    @Html.EditorFor(model => model.AddCatalog.ParentCatalogId, new { htmlAttributes = new { @class = "form-control" } })
                </th>
                <th>
                    @Html.EditorFor(model => model.AddCatalog.Permission, new { htmlAttributes = new { @class = "form-control" } })
                </th>
                <th>
                    @Html.EditorFor(model => model.AddCatalog.IconClass, new { htmlAttributes = new { @class = "form-control" } })
                </th>
                <th>
                    @Html.EditorFor(model => model.AddCatalog.Comment, new { htmlAttributes = new { @class = "form-control" } })
                </th>
                <th>
                    <button type="submit" class="btn btn-primary btn-xs">新增</button>
                </th>
            </tr>

            @foreach (var item in Model.Catalogs.Where(x => x.ParentCatalogId == null))
            {
                @PrintCatalog(item)
            }

        </table>
    }
</div>

<div id='MainModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='ShowModalContent'></div>
        </div>
    </div>
</div>

@helper PrintCatalog(Catalog item)
{
    <tr class="treegrid-@item.CatalogId @(item.ParentCatalog != null ? "treegrid-parent-" + @item.ParentCatalogId : "")">

        <td>
            @Html.DisplayFor(modelItem => item.CatalogId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatalogName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatalogOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsMenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentCatalogId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Permission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IconClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            <button type="button" class="EditBtn btn btn-warning btn-xs" data-id="@item.CatalogId">修改</button>
            <button type="button" class="DeleteBtn btn btn-danger btn-xs" data-id="@item.CatalogId">刪除</button>
        </td>
    </tr>

    foreach (Catalog catalog in item.SubCatalogs.ToList())
    {
            @PrintCatalog(catalog)
    }
}

@section scripts{
    <script src="~/ThirdParties/maxazan-jquery-treegrid/js/jquery.treegrid.js"></script>
    <script src="~/ThirdParties/maxazan-jquery-treegrid/js/jquery.treegrid.bootstrap3.js"></script>
    <script>
        $(document).ready(function () {
            $('.tree').treegrid({
                initialState: 'collapsed',
                expanderExpandedClass: 'glyphicon glyphicon-minus',
                expanderCollapsedClass: 'glyphicon glyphicon-plus'
            });

            //編輯
            $(".EditBtn").click(function(){
                var editUrl = '@Url.Action("Edit","Catalog")';
                var options = {
                    "backdrop": "static",
                    keyboard: true
                };
                var id = $(this).data("id");

                $.ajax({
                    type: "GET",
                    url: editUrl,
                    contentType: "application/json; charset=utf-8",
                    data: { "id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#ShowModalContent').html(data);
                        $('#MainModal').modal(options);
                        $('#MainModal').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });

            //刪除
            $(".DeleteBtn").click(function () {
                event.preventDefault();
                var deleteUrl = '@Url.Action("Delete","Catalog")';
                var id = $(this).data("id");

                $.confirm({
                    title: '注意',
                    content: '確定刪除該筆資料?',
                    buttons: {
                        confirm: function () {
                            location.href = deleteUrl + "?id=" + id;
                        },
                        cancel: function () {
                        },
                    }
                });
            });

        });
    </script>
}

