@using TM.Domain.ViewModels

@model AccountChangePasswordView

@{
    ViewBag.Title = "變更密碼";
}

<div class="row">
    <h2>
        @ViewBag.Title
    </h2>
</div>

<div class="row">
    @using (Html.BeginForm("ChangePasswordPost", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.NewPassword,  new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" class="btn btn-primary" value="儲存">
                </div>
            </div>
        </div>
    }

        </div>









